<div>

{{#each beerArr}}

<ul>
    <li>{{this.name}}
       <img src="{{this.image_url}}" alt="{{this.name}}" width="50px" height="50px"> 
        {{this.description}}
        {{this.tagline}}
    </li>
</ul>


{{/each}}


</div>